{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock title %}


{% block body %}
<center><p><em><h3>A Powerful Yet Simple CRM For Your Small Business </h3></p></em></center>
<img src="{{ url_for('static',filename='pic6.jpg')}}" alt='flag' height='400' width='70' class="d-block w-100" > 

<div class="card">
    <div class="card-body">
<span class="d-block p-2 bg-secondary text-light"><p><em><h6>*Businesses in the early stages of growth will be easy to handle without specialist tools, but as your business grows, you need a complete picture of how it's performing.
        </h6></p></em></span>
        <span class="d-block p-2 bg-secondary text-light"><p><em><h6>*It's not possible to get that using spreadsheets, so you'll need something more. You need a tool with all the features you need to kick start your business, and that's CRM!
</h6></p></em></span>
</div>
</div>


<center><p><em><h3>Three simple reasons to Try CRM today </h3></p></em></center>

<div class="card">
    <div class="card-body">
        <span class="d-block p-1 bg-secondary text-light"><p><em><h6>1. One View of your Customers.
        </h6></p></em></span>
        <span class="d-block p-1 bg-secondary text-light"><p><em><h6> 2. Interpret customer data across 30+ digital channels & use actionable insights to give a better customer experience.
        </h6></p></em></span>
        <span class="d-block p-1 bg-secondary text-light"><p><em><h6> 3. Unified CXM is a convenient platform for effective process automation & customer retention without the need to manage multiple apps
            Agile
        </h6></p></em></span>
    </div>
  </div>

{% endblock body %}
    