{% extends 'base.html' %}


{% block title %}
Contact Us
{% endblock title %}

{% block body %}
<center><h1><p class="fst-italic">Contact Us</p></h1></center>
<img src="{{ url_for('static',filename='pic5.webp')}}" alt='flag' height='400' width='50' class="d-block w-100" > 

<br></br>
<!DOCTYPE html>
<html>
<head>
<style>

#myDIV {
  height:90px;
  background-color:#FFFFFF;
  text-align: right;
}
</style>
</head>
<body>
<div id="myDIV">
<h1>Let's make something awesome together.</h1>
<h6>Build Your Brand - Get New Business - Manage Clients - Do It Yourself</h6>
</div></body></html>
<h2>Meet US</h2>
<h6>Mobile   : 8080335546</h6>
<h6>Email Id : Crmforyou@yahoo.in</h6>
<h6>Office   : Crystal Arc,14th Floor,Bandra,Mumbai.</h6><br></br>
{% endblock body %}
    