{% extends 'base.html' %}

{% block title %}
   Update Customer Form
{% endblock title %}


{% block body %}
<form method="post">
    <div class="mb-3">
        <label for="CustId" class="form-label">Customer ID</label>
        <input type="text" class="form-control" id="CustId" name="CustId" value="{{Customer[0]}}" readonly> 
    </div>
    <div class="mb-3">
      <label for="CustName" class="form-label">Customer Name</label>
      <input type="text" class="form-control" id="CustName" name="CustName" value="{{Customer[1]}}">
    </div>
    <div class="mb-3">
        <label for="CustContact" class="form-label">Customer Conatact</label>
        <input type="text" class="form-control" id="CustContact" name="CustContact" value="{{Customer[2]}}">
    </div>
    <div class="mb-3">
        <label for="CustLocation" class="form-label">Customer Location</label>
        <input type="text" class="form-control" id="CustLocation" name="CustLocation" value="{{Customer[3]}}">
    </div>
  
  <div class="mb-3">
      <label for="CustIncome" class="form-label">Customer Income</label>
      <input type="text" class="form-control" id="CustIncome" name="CustIncome" value="{{Customer[4]}}">
  </div>

<div class="mb-3">
    <label for="CustJobType" class="form-label">Cust JobType </label>
    <input type="text" class="form-control" id="CustJobType" name="CustJobType" value="{{Customer[5]}}">
</div>
<div class="mb-3">
  <label for="remarkCust" class="form-label">Leads</label>
  <input type="text" class="form-control" id="remarkCust" name="remarkCust" value="{{Customer[6]}}"></textarea>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body %}